@import '../../App';

.input {
  box-sizing: border-box;
  display: inline-block;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 23px 20px;
  border-radius: 16px;
  background-color: $color-card;
  color: $color-text-one;
  border: 0;
  margin-bottom: 20px;

  &:focus {
    border: none !important;
  }

  &::placeholder {
    color: $color-text-one;
  }
}