@import '../../App';

.avatar {
  margin-right: 16px;
  &__img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}